:root {
    --primary: #303CA2;
    --secondary: #FEFBEC;
    --text-primary: #101366;
    --text-secondary: #293195;
    --decoration: #D90429;
}
#aboutus {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT US STYLE */
.left-aboutus {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph-left-aboutus {
    font-size: 25px;
    padding: 24px;
    color: #444;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraph-left-aboutus span {
    color: var(--decoration);
}
.btn {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 .btn button {
    background-color: var(--primary);
    width: 100px;
    height: 50px;
    color: var(--secondary);
    border-radius: 4px;
    font-size: 18px;
 }
 .video-link {
    background-color: var(--decoration);
    width: 100px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .video-link a {
    text-decoration: none;
    color: var(--secondary);
 }
 .right-aboutus {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .right-aboutus img {
    width: 700px;
    border-radius: 8px;
    box-shadow: -2px 10px 21px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 10px 21px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 10px 21px -7px rgba(0,0,0,0.75);
 }

 @media screen and (max-width: 1366px) {
    .paragraph-left-aboutus {
        font-size: 100%;
        position: relative;
    }
    .right-aboutus {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .paragraph-left-aboutus {
        font-size: 90%;
    }
}

@media screen and (max-width: 450px) {
    .paragraph-left-aboutus {
        font-size: 85%;
    }
}


