:root {
    --primary: #303CA2;
    --secondary: #FEFBEC;
    --text-primary: #101366;
    --text-secondary: #293195;
    --decoration: #D90429;
}
#home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT CONTENT */
.left-home {
    width: 100%;
    height: 100%;
    position: relative;
}
.left-home img {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* RIGHT CONTENT */
.right-home {
    width: 100%;
    height: 100%;
}
.title-home {
    width: 100%;
    height: 80%;
}

.communicating {
    width: 100%;
    height: 50%;
    position: relative;
}
.communicating-content {
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.communicating-content img {
    width: 50px;
    height: 50px;
    padding: 7px;
}
.communicating-content p {
    color: var(--decoration);
    font-size: 20px;
}

.main-title {
    width: 100%;
    height: 50%;
    font-size: 40px;
    color: var(--primary);
}

.tools-home {
    width: 100%;
    height: 20vh;
    position: relative;
}
.tools-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tools-logo img {
    width: 100px;

}
@media screen and (max-width: 991.98px) {
    .left-home img {
        width: 380px;
    }
    .main-title {
        font-size: 30px;
    }
    .tools-logo img {
        width: 70px;
    }
}

@media screen and (max-width: 500px) {
    .tools-logo {
        background-color: var(--secondary);
        border-top-left-radius: 14px;
        width: 200px;
        height: 40px;
    }
    .tools-logo img {
        width: 50px;
    }
    .left-home img {
        width: 250px;
        height: 300px;
    }
    .main-title {
        font-size: 20px;
    }
}