:root {
    --primary: #303CA2;
    --secondary: #FEFBEC;
    --text-primary: #101366;
    --text-secondary: #293195;
    --decoration: #D90429;
}
#ourteam {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* OURTEAM STYLE */
    .ourteam-box {
        width: 20%;
        height: 80%;
        padding: 28px;
    }
    .ourteam-img {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourteam-img img {
        border-radius: 7px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .ourteam-paragraph {
        padding: 18px;
        margin: 14px;
        color: var(--secondary);
    }

/* OURTEAM MEDIA QUERIES */
@media screen and (max-width: 1366px) {
    .ourteam-paragraph {
        width: 100%;
    }
    .ourteam-img {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    #ourteam {
        flex-direction: column;
        height: 200vh;
        background: linear-gradient(45deg, #FEFBEC, #303CA2);
    }
    .ourteam-box {
        width: 80%;
        padding: 0;
    }
    .ourteam-img img {
        width: 50%;
    }
    .ourteam-paragraph {
        width: 90%;
        background-color: var(--primary);
        opacity: 70%;
        border-radius: 7px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

@media screen and (max-width: 450px) {
    .ourteam-img img {
        width: 70%;
    }
    .ourteam-paragraph {
        width: 80%;
    }
}